<% status_indicator_color = "bg-green-500" %>
<% if server.recent_failure? %>
  <% status_indicator_color = "bg-orange-500" %>
<% end %>
<% if server.last_request_failed? %>
  <% status_indicator_color = "bg-red-500" %>
<% end %>

<div id="<%= dom_id(server) + "-server-header" %>">
  <div class="flex flex-wrap pb-2 gap-4">
    <div class="w-5 h-5 <%= status_indicator_color %> rounded-full border border-black"></div>
    <div class="flex flex-col">
      <p class="font-bold break-all">
      <%= server.name %>
      </p>
      <p class="text-sm break-all">
      <%= server.protocol %><%= server.hostname %>
      </p>
    </div>
  </div>
</div>
