<div id="<%= dom_id heartbeat %>">
  <p><%= heartbeat.status_code %></p>
  <p><%= heartbeat.request_time %></p>
  <% if heartbeat.status_message %>
    <p><%= heartbeat.status_message %></p>
  <% end %>
  <% if heartbeat.response_time %>
    <p>Response in <span><%= distance_of_time_in_words(heartbeat.request_time, heartbeat.response_time)%></span></p>
  <% end %>
  <% if true %>
    <% # TODO: Better solution for action_name check since turbo stream is coming in as not a show action, but rendering on server page does on load %>
    <% if action_name != "xxx" %>
      <%= link_to "Show this heartbeat", organisation_server_heartbeat_path(organisation, server, heartbeat), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  <% end %>
</div>
